extends layout 
 
block content 
  h1(style="text-align: center; color: #0542D8; font-weight: bold; font-style: italic;")= title
  div(class='container' style="text-align: center; width: 700px;") 
 
    form(id='FoodForm', action="/resource/food", method="POST") 
        div.form-group 
            label.foodAttr(for='foodtype') Food type 
            input#foodtype(type='text', name='foodtype') 
        div.form-group 
            label.foodAttr(for='foodquality') Food Quality 
            input#foodquality(type='text', name='foodquality') 
        div.form-group 
            label.foodAttr(for='foodcost') Food cost 
            input#foodcost(type='number', name='foodcost') 
        input(type="submit") 
    
    script. 
        document.forms['FoodForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
            method: 'POST', 
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
        }).then((resp) => { 
            return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
            alert("Save succeded") 
            // TODO handle body 
        }).catch((error) => { 
            // TODO handle error 
            alert("Save failed " + error ) 
        }); 
        }); 